<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="site" class="clip wrap-xl">

        {{- partial "header.html" . -}}
        <main id="site-main" class="theme-light">
            <div class="frame">
                <div class="grid">
                    <div class="cell-12 cell-md-9">
                        <section class="pt-5 pb-5">
                        {{- block "main" . }}{{- end }}
                    </section>
                    </div>
                    <div class="cell-12 cell-md-3">
                        {{- partial "contact.html" . -}}
                    </div>
                </div>
            </div>
        </main>
        {{- partial "footer.html" . -}}
        </div>
        {{- partial "foot.html" . -}}
    </body>
</html>
