    <!-- noindex -->
    <div class="d-none d-md-block pt-5 d-print-none">
        <button type="button" class="btn btn-block btn-outline-key btn-lg mb-4" data-toggle="modal"
            data-target="#contact-modal">
            Kontakt
        </button>
    </div>
    <!-- index -->
    <!-- noindex -->
    <div class="d-none d-md-block cell-md-2-3 mb-4 p-0 d-print-none">
        <figure>
            <img class="lazy" data-src="{{ .Site.Params.departmentlogo | absURL }}" alt="Logo"/>
        </figure>
    </div>
    <!-- index -->
    <aside>
        <!-- noindex -->
        <!-- index -->
    </aside>