<footer id="site-footer">
    <div class="frame hold bg-key text-white py-5 d-print-none">
    <!-- noindex -->
    <div class="grid">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto pb-5">
    <div class="stack-5">
    <nav id="socialMedia" class="d-flex justify-content-around"><div><a href="https://www.facebook.com/tudarmstadt" aria-label="Facebook-Seite" title="Facebook-Seite" class="social rounded-circle border border-transparent hover-border-white bg-white hover-bg-key text-key sans-h4"><span class="fab fa-facebook-f"></span></a></div><div><a href="https://www.instagram.com/tudarmstadt/" aria-label="" title="" class="social rounded-circle border border-transparent hover-border-white bg-white hover-bg-key text-key sans-h4"><span class="fab fa-instagram"></span></a></div><div><a href="https://twitter.com/TUDarmstadt" aria-label="" title="" class="social rounded-circle border border-transparent hover-border-white bg-white hover-bg-key text-key sans-h4"><span class="fab fa-twitter"></span></a></div><div><a href="https://www.youtube.com/user/tudarmstadt" aria-label="YouTube-Kanal" title="YouTube-Kanal" class="social rounded-circle border border-transparent hover-border-white bg-white hover-bg-key text-key sans-h4"><span class="fab fa-youtube"></span></a></div></nav>
    </div>
    </div>
    </div>
    <!-- index -->
    <div class="grid">
    <div class="col-12">
    <div class="stack-2">
    <nav>
    <div class="d-block d-md-flex justify-content-center align-items-center sans-small strong text-center">
    <div class="mx-2 mb-2">
    <a class="link" href="{{ .Site.Params.impressum }}">Impressum</a>
    </div>
    <div class="mx-2 mb-2">
    <a class="link" accesskey="7" href="https://www.tu-darmstadt.de/datenschutzerklaerung" title="[Alt(+Shift)+7]">Datenschutzerklärung</a>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </footer>