<div id="btn-top" class="invisible position-fixed w-100 theme-light">
    <div id="btn-top_wrapper" class="clip wrap-xl px-4 postion-relative">
    <a id="btn-top_link" accesskey="t" title="[Alt(+Shift)+t]" class="d-inline-block border-white bg-key position-absolute text-white text-center" href="#top"><span class="sr-only">zum Seitenanfang</span><span class="icon far fa-arrow-up"></span></a>
    </div>
    </div>
<div id="contact-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content position-relative py-3 px-4">
    <button class="link text-gr0 ml-auto position-absolute sans-h5" data-dismiss="modal" aria-label="Close" aria-hidden="true" style="right:0; top:0"><span class="icon far fa-times mt-1 mr-1"></span></button>
    <div class="stack-4 vcard" itemscope itemtype="http://schema.org/Person">
    <h1 class="serif-h2">
    <span itemprop="name" class="fn">{{ .Site.Params.contact.name }}</span>
    </h1>
    <div class="grid-2">
    <div class="cell-4 d-print-none">
    <div class="contact-img w-100 bg-gr2 position-relative pb-100">
    <div class="d-flex position-absolute h-100 w-100">
    <span class="text-white sans-h1 m-auto strong" style="font-size:6vmin">
    D
    </span>
    </div>
    </div>
    </div>
    <div class="cell-8">
    <div class="stack-1 pb-1 sans-small">
    <p>
    <span class="email" href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</span>
    </p>
    <p>
    <span class="tel" itemprop="telephone"><span class="type d-none">work </span>{{ .Site.Params.contact.phone }}</span><br/><span itemprop="faxNumber"><span class="icon far fa-fax mr"></span><span class="type d-none">fax </span>{{ .Site.Params.contact.fax }}</span>
    </p>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="adr">
    <span class="type d-none">Work</span>
    <span class="icon fal fa-building mr"></span>
    S3|16 103<br/>
    <span itemprop="streetAddress" class="street-address">{{ .Site.Params.contact.street }}</span><br/>
    <span itemprop="postalCode" class="postal-code">{{ .Site.Params.contact.postalcode }}</span>
    <span itemprop="addressLocality" class="locality">{{ .Site.Params.contact.locality }}</span>
    <meta itemprop="addressCountry" content="DE"/>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


<script src="{{"js/jquery-3.3.1.min.js" | absURL}}"></script>
<script src="{{"js/popper.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/ekko-lightbox.min.js" | absURL}}"></script>
<script src="{{"js/jquery.lazy.min.js" | absURL}}"></script>
<script src="{{"js/scrollIfAnchor.js" | absURL}}"></script>
<script src="{{"js/js.cookie-2.2.1.min.js" | absURL}}"></script>
{{- partial "sitemap.html" . -}}

<script src="{{"js/app.de.js" | absURL}}"></script>
<script>
    $(function(){
    $('.flip-tile').click(function(){
    $(this).find('.tile-image').toggleClass("d-block").toggleClass("d-none");
    $(this).find('.tile-text').toggleClass("d-block").toggleClass("d-none");
    });
    $('.tile-text a.link').each(function(){
    $(this).addClass("d-inline-flex");
    $(this).find(".icon").wrap('<span class="d-inline-block"></span>');
    });
    });
    </script>
    <script>
    $('#slider_10884667').on('slide.bs.carousel', function (e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 3;
    var totalItems = $('#slider_10884667 .carousel-item').length;
    if (idx >= totalItems-(itemsPerSlide-1)) {
    var it = itemsPerSlide - (totalItems - idx);
    for (var i=0; i<it; i++) {
    // append slides to end
    if (e.direction=="left") {
    $('#slider_10884667 .carousel-item').eq(i).appendTo('#slider_10884667 .carousel-inner');
    }
    else {
    $('#slider_10884667 .carousel-item').eq(0).appendTo('#slider_10884667 .carousel-inner');
    }
    }
    }
    });
    </script>
    <script>
    $('#slider_10884667').carousel({
    pause: true,
    interval: false
    });
    </script>
    <script src="{{"js/jquery.textfit.min.js" | absURL}}"></script>
    <script>
    $(function(){
    $(".textfit").textfit('truncate');
    });
    </script>
    <script>
    function normalizeSlideHeights() {
    $('#slider_10884667').each(function(){
    var items = $('.carousel-item', this);
    // reset the height
    items.css('min-height', 0);
    // set the height
    var maxHeight = Math.max.apply(null,
    items.map(function(){
    return $(this).outerHeight()
    }).get());
    items.css('min-height', maxHeight + 'px');
    })
    }
    $(window).on('load resize orientationchange', normalizeSlideHeights);
    </script>