{{ with .Title | default .Site.Title }}
<title>{{ . }}</title>
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . }}" />
{{ end }}
{{ $appcss := "css/app.css" | absURL }}
<link rel="stylesheet" href="{{$appcss}}">
{{ $themeTemplate := resources.Get "css/theme.css" }}
{{ $theme := $themeTemplate | resources.ExecuteAsTemplate "colortheme.css" . }}
<link rel="stylesheet" href="{{ $theme.Permalink }}">