<header id="site-header">
    <div class="d-none d-lg-block" id="desktop-menu" @keydown.esc="onEsc()" :style="modalOpenStyle">
        <a class="link skip-link show-on-focus" href="#site-main">Menü Überspringen</a>
        <div class="hold" ref="liner">
        <div v-show="searchIsOpen" class="desktop-meta" id="desktop-search" :class="{active: searchIsOpen}" ref="searchArea" :aria-hidden="!searchIsOpen" aria-labelledby="#schnell-btn">
        <div class="frame py-2 bg-white">
        <div class="search-frame d-flex sans-h5">
        <form class="search-form" action="suche.de.jsp" method="GET">
        <input class="search-input" ref="searchInput" type="text" aria-label="Suche" placeholder="Suche nach …" name="q">
        <button type="submit" aria-label="submit"><span class="icon far fa-search"></span></button>
        </form>
        <button ref="searchClose" type="button" aria-label="Schliessen" aria-controls="desktop-search" aria-expanded="searchIsOpen" @click="toggleSearchArea"><span class="icon far fa-times"></span></button>
        </div>
        </div>
        </div>
        <div v-show="fastIsOpen" class="desktop-meta" id="desktop-fast" ref="fastArea" :aria-hidden="!fastIsOpen" :class="{active: fastIsOpen}" aria-labelledby="desktop-fast-open">
        <div class="frame py-4 bg-white">
        <div class="stack-4">
        <h5 class="sans-h5 d-flex">
        <div class="flex-grow-1">Schnelleinstieg</div>
        <button type="button" ref="fastClose" id="desktop-fast-close" @click="toggleFastArea" @keydown.down="setFocus(itemRef('fast',0,0))" aria-controls="desktop-fast" :aria-expanded="fastIsOpen"><span class="icon far fa-times"></span></button></h5>
        <div class="stop pb-1">
        <div class="grid-4 fast-outer">
        <div class="cell-1-2 outer-cell">
        <div class="grid-2 fast-inner">
        <div v-for="(group, i) in fastBlocks.slice(0,4)" class="fast-block cell-1-2 inner-cell" @mouseenter="fastBlocks[i].hover=true" @mouseleave="fastBlocks[i].hover=false" @focusin="fastBlocks[i].focus=true" @focusout="fastBlocks[i].focus=false">
        <div class="p-2 pb-4 h-100 hold" :class="fastBlockBgClass(group.code, group.hover||group.focus||isTouch)">
        <div v-if="!isTouch" class="block-overlay p-2 pb-4" :class="fastBlockOverClass(group.code, group.hover||group.focus)">
        <h5 class="block-heading sans-h5" v-html="group.heading"></h5>
        </div>
        <div class="block-content stack-2" :class="fastBlockTextClass(group.code, group.hover||group.focus||isTouch)">
        <h5 class="block-heading sans-h5" v-html="group.heading"></h5>
        <ul class="block-links list-unstyled stack-1">
        <li v-for="(child, j) in group.children" class="sans-small"><a class="link d-inline-flex" :href="child.href" :ref="itemRef('fast',i,j)" @keydown.up="setFocus(j==0 ? i==0 ? 'fastClose': itemRef('fast',i-1,0) : itemRef('fast',i,j-1))" @keydown.down="setFocus(j==(group.children.length - 1) ? itemRef('fast',i+1,0) : itemRef('fast',i,j+1))" @keydown.left="setFocus(itemRef('fast',i-1,0))" @keydown.right="setFocus(itemRef('fast',i+1,0))"><span class="d-inline-block"><span class="icon fas fa-long-arrow-right"></span></span><span class="d-inline-block">{{ `{{ child.heading }}` }}</span></a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="cell-1-2 outer-cell">
        <div class="grid-2 fast-inner">
        <div v-for="(group, i) in fastBlocks.slice(4)" class="fast-block cell-1-2 inner-cell" @mouseenter="fastBlocks[i+4].hover=true" @mouseleave="fastBlocks[i+4].hover=false" @focusin="fastBlocks[i+4].focus=true" @focusout="fastBlocks[i+4].focus=false">
        <div class="p-2 pb-4 h-100" :class="fastBlockBgClass(group.code, group.hover||group.focus||isTouch)">
        <div v-if="!isTouch" class="block-overlay p-2 pb-4" :class="fastBlockOverClass(group.code, group.hover||group.focus)">
        <h5 class="block-heading sans-h5" v-html="group.heading"></h5>
        </div>
        <div class="block-content stack-2" :class="fastBlockTextClass(group.code, group.hover||group.focus||isTouch)">
        <h5 class="block-heading sans-h5" v-html="group.heading"></h5>
        <ul class="block-links list-unstyled stack-1">
        <li v-for="(child, j) in group.children" class="sans-small"><a class="link d-inline-flex" :href="child.href" :ref="itemRef('fast',i+4,j)" @keydown.up="setFocus(j==0 ? itemRef('fast',i+4-1,0) : itemRef('fast',i+4,j-1))" @keydown.down="setFocus(j==(group.children.length - 1) ? itemRef('fast',i+4+1,0) : itemRef('fast',i+4,j+1))" @keydown.left="setFocus(itemRef('fast',i+3,0))" @keydown.right="setFocus(itemRef('fast',i+5,0))"><span class="d-inline-block"><span class="icon fas fa-long-arrow-right"></span></span><span class="d-inline-block">{{ `{{ child.heading }}` }}</span></a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="desktop-main" ref="mainArea">
        <div class="wrap-xl hold">
        <div class="menu-border border-key"></div>
        <div class="menu-logo frame bg-white">
        <div class="row">
        <div class="col-1-4 offset-9-12">
        <!-- noindex -->
        <div class="hold" style="margin-top:-14px;">
        <div class="menu-logo-area">
		<div class="logo bg-gr5"><a href="https://www.tu-darmstadt.de/" title="Zur Startseite" class="text-gr0"><img src="{{ "img/tu_logo_web.svg" | absURL }}" alt="Logo der TU Darmstadt"></a></div> <a href="https://www.informatik.tu-darmstadt.de/" accesskey="1" title="Zur Startseite der Institution [Alt(+Shift)+1]"><div id="institution-name-container" class="fach-label bg-key p-1 text-white overflow-hidden stack-1"><p class="sans-lead pre-line"><span id="institution-name" class="d-inline-block">{{ .Site.Params.department }}</span></p></div></a>
        </div>
        </div>
        <!-- index -->
        </div>
        </div>
        </div>
        <div class="menu-frame frame bg-white">
        <div class="py-2">
        <div class="grid">
        <div class="cell-3-4">
        <div class="stack-2">
        <ul class="meta-headings list-unstyled sans-mini strong w-75">
        <li class="meta-heading mr-auto"><button class="link text-gr1" type="button" id="desktop-fast-open" :ref="refPath('meta',0)" @keydown.left.prevent="setFocus(refPath('meta',3))" @keydown.right.prevent="setFocus(refPath('meta',1))" @keydown.down.prevent="setFocus(refPath('main',0))" @click="toggleFastArea"><span class="icon far fa-external-link-square"></span>Schnelleinstieg</button></li>
        {{ if .IsTranslated }}
        <li class="meta-item mr-auto">
        {{ if eq $.Language.Lang "de"}}
        {{ $eng := index .Translations 0 }}
        <a class="language-selector link text-gr1" href="{{$eng.Permalink}}" @keydown.left.prevent="setFocus(refPath(&quot;meta&quot;,0))" @keydown.right.prevent="setFocus(refPath(&quot;meta&quot;,2))" @keydown.down.prevent="setFocus(refPath(&quot;main&quot;,1))"><span class="icon fal fa-globe-europe"></span>English</a>
        {{else}}
        {{ $de := index .Translations 0 }}
        <a class="language-selector link text-gr1" href="{{$de.Permalink}}" @keydown.left.prevent="setFocus(refPath(&quot;meta&quot;,0))" @keydown.right.prevent="setFocus(refPath(&quot;meta&quot;,2))" @keydown.down.prevent="setFocus(refPath(&quot;main&quot;,1))"><span class="icon fal fa-globe-europe"></span>Deutsch</a>
        {{end}}
        </li>
        {{ end }}
        <li class="meta-item mr-auto">
        <!-- noindex -->
        <!-- index -->
        </li>
        </ul>
        <ul class="main-headings list-unstyled sans-h4b strong" :class="{'in-focus': path.length&gt;0}">
        <li v-for="(level0, i) in sitemap.slice(0,4)" class="main-heading" :key="level0.heading" :class="{selected: menuPath.indexOf(level0.uid)>=0}"><a v-if="!level0.children || level0.displaySeparateSubmenu==true" :href="level0.href" :accesskey="level0.accesskey" :title="level0.title" :id="level0.headID" :aria-controls="level0.bodyID" :aria-expanded="hasPath(i)" :ref="refPath('main',i)" :class="{proxied: isFocPath(i,-1), onpath: hasFocPath(i)}" @focus="setFocPath(i)" @keydown.left.prevent="setFocus(refPath('main',i-1))" @keydown.right.prevent="setFocus(refPath('main',i+1))" @keydown.up.prevent="setFocus(refPath('meta',i))"><span v-html="level0.heading"></span><span class="icon far fa-lock text-right" v-if="level0.internal" title="Anmeldung erforderlich (TU-ID)"></span></a><button v-else type="button" aria-haspopup="true" :id="level0.headID" :aria-controls="level0.bodyID" :aria-expanded="hasPath(i)" :ref="refPath('main',i)" :class="{proxied: isFocPath(i,-1), onpath: hasFocPath(i)}" @focus="setFocPath(i)" @click="setSubFocus(i)" @keydown.left.prevent="setFocus(refPath('main',i-1))" @keydown.right.prevent="setFocus(refPath('main',i+1))" @keydown.up.prevent="setFocus(refPath('meta',i))" v-html="level0.heading"></button></li>
        </ul>
        </div>
        </div>
        <div class="cell-1-4">
        <div class="stack h-100 d-flex">
        <div class="sans-h5 align-self-end text-right w-100">
        <a class="text-gr0 ml-1" href="https://www.tu-darmstadt.de/" title="Home"><span class="icon far fa-home"></span></a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div id="menu-collapse" class="d-none hold">
        <nav>
        <ul class="main-panels list-unstyled">
        <li v-for="(level0, i) in sitemap" v-show="hasPath(i)" class="main-panel" :key="level0.heading" :ref="refPath('panel', i)">
        <div v-if="level0.hasIndexPage && level0.href" class="panel-heading" :class="{'in-focus': hasPath(i, -1)}">
        <p class="sans-h5"><a class="link-outer strong d-block w-100 text-left p-2" :href="level0.href" :accesskey="level0.accesskey" :title="level0.title" :ref="refPath('main',i,-1)" :class="{selected: menuPath.indexOf(level0.headID)>=0}" @focus="setFocPath(i,-1)" @mouseenter="hoverFocus" @keydown.exact.tab.shift.prevent="setParentFocus(i)" @keydown.up.prevent="setParentFocus(i)" @keydown.down.prevent="setFocus(refPath('main',i,0))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,0))"><span class="link-inner">Übersicht</span><span class="icon far fa-lock text-right" v-if="level0.internal" title="Anmeldung erforderlich (TU-ID)"></span></a></p>
        </div>
        <ul v-show="hasPath(i)" class="panel-menu level-1 list-unstyled" :ref="refPath('panel-menu', i)" :id="level0.bodyID" :aria-hidden="!hasPath(i)" :aria-labelledby="level0.headID" :class="{ focusin: hasFocPath(i) }">
        <li v-for="(level1, j) in level0.children" class="menu-item sans-h5" :class="{'in-focus': hasPath(i,j)}"><a v-if="!level1.children || level1.displaySeparateSubmenu==true" class="strong d-block w-100 text-left px-2 py-1" :href="level1.href" :accesskey="level1.accesskey" :title="level1.title" :ref="itemRef('main',i,j)" :class="{onpath: hasFocPath(i,j), selected: menuPath.indexOf(level1.uid)>-1}" @focus="setFocPath(i,j)" @mouseenter="hoverFocus" @keydown.up.prevent="setFocus(refPath('main',i,j-1))" @keydown.down.prevent="setFocus(refPath('main',i,j+1))" @keydown.exact.tab.shift.prevent="setFocus(refPath('main',i,j-1))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j+1))"><span v-html="level1.heading"></span><span class="icon far fa-lock text-right" v-if="level1.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        <button v-else class="strong d-block w-100 text-left px-2 py-1" type="button" aria-haspopup="true" :id="level1.headID" :aria-controls="level1.bodyID" :aria-expanded="hasPath(i,j)" :ref="itemRef('main',i,j)" :class="{onpath: hasFocPath(i,j), selected: menuPath.indexOf(level1.uid)>-1}" @focus="setFocPath(i,j)" @mouseenter="hoverFocus" @keydown.up.prevent="setFocus(refPath('main',i,j-1))" @keydown.down.prevent="setFocus(refPath('main',i,j+1))" @keydown.exact.tab.shift.prevent="setFocus(refPath('main',i,j-1))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j+1))" @keydown.right.prevent="clickSelf" @click="setSubFocus(i,j);removeMenuPath();"><span v-html="iconifyLastWord(level1.heading)"></span></button>
        <ul v-if="level1.children && level1.displaySeparateSubmenu!=true" v-show="hasPath(i,j) || menuPath.indexOf(level1.uid)>-1" class="panel-menu level-2 list-unstyled" :ref="refPath('panel-menu', i,j)" :id="level1.bodyID" :aria-labelledby="level1.headID" :aria-hidden="!hasPath(i,j)" :class="{ focusin: hasFocPath(i,j)}">
        <li v-if="level1.hasIndexPage && level1.href" class="menu-heading"><a class="strong d-block w-100 text-left px-2 py-1" :href="level1.href" :accesskey="level1.accesskey" :title="level1.title" :ref="refPath('main',i,j,-1)" :class="{selected: menuPath.indexOf(level1.uid)>-1 && isSelected(level1.children) > 0}" @focus="setFocPath(i,j,-1)" @mouseenter="hoverFocus" @keydown.exact.tab.shift.prevent="setParentFocus(i,j)" @keydown.left.prevent="setParentFocus(i,j)" @keydown.up.prevent="setParentFocus(i,j)" @keydown.down.prevent="setFocus(refPath('main',i,j,0))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j,0))">Übersicht<span class="icon far fa-lock text-right" v-if="level1.internal" title="Anmeldung erforderlich (TU-ID)"></span></a></li>
        <li v-for="(level2, k) in level1.children" class="menu-item sans-h5" :class="{'in-focus': hasPath(i,j,k)}"><a v-if="!level2.children || level2.displaySeparateSubmenu==true" class="strong d-block w-100 text-left px-2 py-1" :href="level2.href" :accesskey="level2.accesskey" :title="level2.title" :ref="itemRef('main',i,j,k)" :id="menuPath.indexOf(level2.uid)" :class="{onpath: hasFocPath(i,j,k), selected: menuPath.indexOf(level2.uid)>-1}" @focus="setFocPath(i,j,k)" @mouseenter="hoverFocus" @keydown.left.prevent="setFocus(refPath('main',i,j)); setPath(i)" @keydown.up.prevent="setFocus(refPath('main',i,j,k-1))" @keydown.down.prevent="setFocus(refPath('main',i,j,k+1))" @keydown.exact.tab.shift.prevent="setFocus(refPath('main',i,j,k-1))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j,k+1))"><span v-html="level2.heading"></span><span class="icon far fa-lock text-right" v-if="level2.internal" title="Anmeldung erforderlich (TU-ID)"></span></a><button v-else class="strong d-block w-100 text-left px-2 py-1" type="button" aria-haspopup="true" :id="level2.headID" :aria-controls="level2.bodyID" :aria-expanded="hasPath(i,j,k)" :ref="itemRef('main',i,j,k)" :class="{onpath: hasFocPath(i,j,k), selected: menuPath.indexOf(level2.uid)>-1}" @focus="setFocPath(i,j,k)" @mouseenter="hoverFocus" @keydown.left.prevent="setFocus(refPath('main',i,j)); setPath(i)" @keydown.up.prevent="setFocus(refPath('main',i,j,k-1))" @keydown.down.prevent="setFocus(refPath('main',i,j,k+1))" @keydown.exact.tab.shift.prevent="setFocus(refPath('main',i,j,k-1))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j,k+1))" @keydown.right.prevent="clickSelf" @click="setSubFocus(i,j,k);removeMenuPath();"><span v-html="iconifyLastWord(level2.heading)"></span></button>
        <ul v-if="level2.children && level2.displaySeparateSubmenu!=true" v-show="hasPath(i,j,k) || menuPath.indexOf(level2.uid)>-1" class="panel-menu level-3 list-unstyled" :ref="refPath('panel-menu', i,j,k)" :id="level2.bodyID" :aria-hidden="!hasPath(i,j,k)" :aria-labelledby="level2.headID" :class="{ focusin: hasFocPath(i,j,k)}">
        <li v-if="level2.hasIndexPage && level2.href" class="menu-heading"><a class="strong d-block w-100 text-left px-2 py-1" :href="level2.href" :accesskey="level2.accesskey" :title="level2.title" :ref="refPath('main',i,j,k,-1)" :class="{selected: menuPath.indexOf(level2.uid)>-1 && isSelected(level2.children) > 0}" @focus="setFocPath(i,j,k,-1)" @mouseenter="hoverFocus" @keydown.exact.tab.shift.prevent="setParentFocus(i,j,k)" @keydown.left.prevent="setParentFocus(i,j,k)" @keydown.up.prevent="setParentFocus(i,j,k)" @keydown.down.prevent="setFocus(refPath('main',i,j,k,0))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j,k,0))">Übersicht<span class="icon far fa-lock text-right" v-if="level2.internal" title="Anmeldung erforderlich (TU-ID)"></span></a></li>
        <li v-for="(level3, l) in level2.children" class="menu-item sans-h5" :class="{'in-focus': hasPath(i,j,k,l)}"><a class="strong d-block w-100 text-left px-2 py-1" :href="level3.href" :accesskey="level3.accesskey" :title="level3.title" :ref="itemRef('main',i,j,k,l)" :id="menuPath.indexOf(level3.uid)" :class="{selected: menuPath.indexOf(level3.uid)>-1}" @focus="setFocPath(i,j,k,l)" @mouseenter="hoverFocus" @keydown.left.prevent="setFocus(refPath('main',i,j,k)); setPath(i,j)" @keydown.up.prevent="setFocus(refPath('main',i,j,k,l-1))" @keydown.down.prevent="setFocus(refPath('main',i,j,k,l+1))" @keydown.exact.tab.shift.prevent="setFocus(refPath('main',i,j,k,l-1))" @keydown.exact.tab.prevent="setFocus(refPath('main',i,j,k,l+1))"><span v-html="level3.heading"></span><span class="icon far fa-lock text-right" v-if="level3.internal" title="Anmeldung erforderlich (TU-ID)"></span></a></li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        </nav>
        </div>
        </div>
        </div>
        <div class="overlay" :class="{active: fastIsOpen||searchIsOpen}"></div>
        </div>
        </div>
        </div>
        <!-- index -->
        <template id="phablet-fast-item">
        <div class="phablet-fast-item" :class="bgClass">
        <button type="button" class="collapse-tab p-3" ref="source" :class="textClass" :aria-controls="targetID" :aria-expanded="String(isOpen)" :id="sourceID" @click="toggle"><slot name="tab"></slot><span class="icon fas fa-chevron-down fa-fw"></span></button>
        <transition :css="false" @enter="enter" @leave="leave" @after-enter="afterEnter" @before-leave="beforeLeave">
        <div class="collapse-panel" role="region" v-show="isOpen" ref="target" :id="targetID" :class="textClass" :aria-labelledby="sourceID" :aria-hidden="String(!isOpen)">
        <slot name="panel"></slot>
        </div>
        </transition>
        </div>
        </template>
        <div class="d-lg-none" id="phablet-menu" :style="modalOpenStyle">
        <div class="menu-border border-key"></div>
        <div class="menu-logo frame bg-white">
        <div class="row">
        <div class="col-5-12 col-sm-1-3 col-md-1-4 offset-7-12 offset-sm-2-3 offset-md-3-4">
        <div class="bleed-right mr-sm-0">
        <!-- noindex -->
        <div class="hold" style="margin-top:-14px;">
        <div class="menu-logo-area">
        <div class="logo bg-gr5"><a class="text-gr0" href="https://www.tu-darmstadt.de/" title="Zur Startseite"><img src="https://www.tu-darmstadt.de/media/resources/images_1/tu_logo_web.svg" alt="Logo der TU Darmstadt" /></a></div>
        </div>
        </div>
        <!-- index -->
        </div>
        </div>
        </div>
        </div>
        <div class="menu-frame frame bg-white border-key">
        <div class="row h-100">
        <div class="col-7-12 col-sm-2-3 d-flex align-content-center">
        <button type="button" id="phablet-overlay-toggle" :aria-label="menuOpen?'Close Menu':'Open Menu'" aria-controls="phablet-overlay" :aria-expanded="menuOpen" @click="toggleMenu(0);">
        <div class="bars"></div>
        </button>
        </div>
        </div>
        </div>
        <div id="phablet-overlay" :class="{active: menuOpen}" ref="overlay">
        <div class="py-4"></div>
        <div class="fast-pusher" :style="fastPusherStyle" ref="fastPusher">
        <div class="main-menu">
        <div class="main-pusher" :style="mainPusherStyle" ref="mainPusher">
        <div class="level level-0 frame" ref="top">
        <div class="stack-4 py-6 px-1">
        <div class="stack-5">
        <div class="sans-h3 strong" v-for="(lv0, k) in sitemap">
        <button type="button" class="next d-flex w-100" :class="{'text-key': menuPath.indexOf(lv0.uid)>=0}" @click="setPath(k)" v-if="lv0.children">
        <div v-html="lv0.heading"></div>
        <div class="next ml-auto"><span class="icon fas fa-angle-right"></span></div>
        </button>
        <a class="next page" :href="lv0.href" :class="{'text-key': menuPath.indexOf(lv0.uid)>=0 && menuPath.indexOf(lv0.uid)==menuPath.length-1}" v-else><span v-html="lv0.heading"></span><span class="icon far fa-lock text-right" v-if="lv0.internal" title="Anmeldung erforderlich (TU-ID)"></span></a></div>
        </div>
        </div>
        </div>
        <div class="level level-1 frame" :id="lv0.headID" v-for="(lv0, k) in sitemap" v-if="validLevel(lv0)" v-show="hasPath(k)" :ref="genPath(k)">
        <div class="stack-4 py-6 px-1">
        <div class="sans-h3 strong">
        <button type="button" class="back d-flex text-gr1" @click="setPath()">
        <span class="d-inline-block icon fas fa-angle-left mr my-auto"></span>
        <span class="d-inline-block" v-html="lv0.heading"></span>
        </button>
        </div>
        <div class="border-bottom border-gr3"></div>
        <div class="stack-5">
        <div class="sans-h3 strong d-flex pb-1" v-if="lv0.hasIndexPage && lv0.href">
        <a class="page" :href="lv0.href" :class="{'text-key': menuPath.indexOf(lv0.uid)>=0 && menuPath.indexOf(lv0.uid)==menuPath.length-1}">Übersicht<span class="icon far fa-lock text-right" v-if="lv0.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        <div class="sans-h3 strong" v-for="(lv1, l) in lv0.children">
        <button type="button" class="next d-flex w-100" :class="{'text-key': menuPath.indexOf(lv1.uid)>=0}" @click="setPath(k,l)" v-if="validLevel(lv1)">
        <div v-html="lv1.heading"></div>
        <div class="ml-auto"><span class="icon fas fa-angle-right"></span></div>
        </button>
        <a class="next page" :href="lv1.href" :class="{'text-key': menuPath.indexOf(lv1.uid)>=0 && menuPath.indexOf(lv1.uid)==menuPath.length-1}" v-else><span v-html="lv1.heading"></span><span class="icon far fa-lock text-right" v-if="lv1.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        </div>
        </div>
        </div>
        <template v-for="(lv0, k) in sitemap" v-if="validLevel(lv0)">
        <div class="level level-2 frame" :id="lv1.headID" v-for="(lv1, l) in lv0.children" v-if="validLevel(lv1)" v-show="hasPath(k,l)" :ref="genPath(k,l)">
        <div class="stack-4 py-6 px-1">
        <div class="sans-h3 strong">
        <button type="button" class="back d-flex text-gr1" @click="setPath(k)">
        <span class="d-inline-block icon fas fa-angle-left mr my-auto"></span>
        <span class="d-inline-block" v-html="lv1.heading"></span>
        </button>
        </div>
        <div class="border-bottom border-gr3"></div>
        <div class="stack-5">
        <div class="sans-h3 strong d-flex pb-1" v-if="lv1.hasIndexPage && lv1.href">
        <a class="page" :href="lv1.href" :class="{'text-key': menuPath.indexOf(lv1.uid)>=0 && menuPath.indexOf(lv1.uid)==menuPath.length-1}">Übersicht<span class="icon far fa-lock text-right" v-if="lv1.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        <div class="sans-h3 strong" v-for="(lv2, m) in lv1.children">
        <button type="button" class="next d-flex w-100" :class="{'text-key': menuPath.indexOf(lv2.uid)>=0}" @click="setPath(k,l,m)" v-if="validLevel(lv2)">
        <div v-html="lv2.heading"></div>
        <div class="ml-auto"><span class="icon fas fa-angle-right"></span></div>
        </button>
        <a class="next page" :href="lv2.href" :class="{'text-key': menuPath.indexOf(lv2.uid)>=0 && menuPath.indexOf(lv2.uid)==menuPath.length-1}" v-else><span v-html="lv2.heading"></span><span class="icon far fa-lock text-right" v-if="lv2.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        </div>
        </div>
        </div>
        </template>
        <template v-for="(lv0, k) in sitemap" v-if="validLevel(lv0)">
        <template v-for="(lv1, l) in lv0.children" v-if="validLevel(lv1)">
        <div class="level level-3 frame" :id="lv2.headID" v-for="(lv2, m) in lv1.children" v-if="validLevel(lv2)" v-show="hasPath(k,l,m)" :ref="genPath(k,l,m)">
        <div class="stack-4 py-6 px-1">
        <div class="sans-h3 strong">
        <button type="button" class="back d-flex text-gr1" @click="setPath(k,l)">
        <span class="d-inline-block icon fas fa-angle-left mr my-auto"></span>
        <span class="d-inline-block" v-html="lv2.heading"></span>
        </button>
        </div>
        <div class="border-bottom border-gr3"></div>
        <div class="stack-5">
        <div class="sans-h3 strong d-flex pb-1" v-if="lv2.hasIndexPage && lv2.href">
        <a class="page" :href="lv2.href" :class="{'text-key': menuPath.indexOf(lv2.uid)>=0 && menuPath.indexOf(lv2.uid)==menuPath.length-1}">Übersicht<span class="icon far fa-lock text-right" v-if="lv2.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        <div class="sans-h3 strong" v-for="(lv3, n) in lv2.children">
        <button type="button" class="next d-flex w-100" :class="{'text-key': menuPath.indexOf(lv3.uid)>=0}" @click="setPath(k,l,m,n)" v-if="validLevel(lv3)">
        <div v-html="lv3.heading"></div>
        <div class="ml-auto"><span class="icon fas fa-angle-right"></span></div>
        </button>
        <a class="next page" :href="lv3.href" :class="{'text-key': menuPath.indexOf(lv3.uid)>=0 && menuPath.indexOf(lv3.uid)==menuPath.length-1}" v-else><span v-html="lv3.heading"></span><span class="icon far fa-lock text-right" v-if="lv3.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        </div>
        </div>
        </div>
        </template>
        </template>
        <template v-for="(lv0, k) in sitemap" v-if="validLevel(lv0)">
        <template v-for="(lv1, l) in lv0.children" v-if="validLevel(lv1)">
        <template v-for="(lv2, m) in lv1.children" v-if="validLevel(lv2)">
        <div class="level level-4 frame" :id="lv3.headID" v-for="(lv3, n) in lv2.children" v-if="validLevel(lv3)" v-show="hasPath(k,l,m,n)" :ref="genPath(k,l,m,n)">
        <div class="stack-4 py-6 px-1">
        <div class="sans-h3 strong">
        <button type="button" class="back d-flex text-gr1" @click="setPath(k,l,m)">
        <span class="d-inline-block icon fas fa-angle-left mr my-auto"></span>
        <span class="d-inline-block" v-html="lv3.heading"></span>
        </button>
        </div>
        <div class="border-bottom border-gr2"></div>
        <div class="stack-5">
        <div class="sans-h3 strong d-flex pb-1" v-if="lv3.hasIndexPage && lv3.href">
        <a class="page" :href="lv3.href" :class="{'text-key': menuPath.indexOf(lv3.uid)>=0 && menuPath.indexOf(lv3.uid)==menuPath.length-1}">Übersicht<span class="icon far fa-lock text-right" v-if="lv3.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        <div class="sans-h3 strong" v-for="(lv4, o) in lv3.children">
        <button type="button" class="next d-flex w-100" :class="{'text-key': menuPath.indexOf(lv4.uid)>=0}" @click="setPath(k,l,m,n,o)" v-if="validLevel(lv4)">
        <div v-html="lv4.heading"></div>
        <div class="ml-auto"><span class="icon fas fa-angle-right"></span></div>
        </button>
        <a class="next page" :href="lv4.href" :class="{'text-key': menuPath.indexOf(lv4.uid)>=0 && menuPath.indexOf(lv4.uid)==menuPath.length-1}" v-else><span v-html="lv4.heading"></span><span class="icon far fa-lock text-right" v-if="lv4.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        </div>
        </div>
        </div>
        </template>
        </template>
        </template>
        <template v-for="(lv0, k) in sitemap" v-if="validLevel(lv0)">
        <template v-for="(lv1, l) in lv0.children" v-if="validLevel(lv1)">
        <template v-for="(lv2, m) in lv1.children" v-if="validLevel(lv2)">
        <template v-for="(lv3, n) in lv2.children" v-if="validLevel(lv3)">
        <div class="level level-5 frame" :id="lv4.headID" v-for="(lv4, o) in lv3.children" v-if="validLevel(lv4)" v-show="hasPath(k,l,m,n,o)" :ref="genPath(k,l,m,n,o)">
        <div class="stack-4 py-6 px-1">
        <div class="sans-h3 strong">
        <button type="button" class="back d-flex text-gr1" @click="setPath(k,l,m,n)">
        <span class="d-inline-block icon fas fa-angle-left mr my-auto"></span>
        <span class="d-inline-block" v-html="lv4.heading"></span>
        </button>
        </div>
        <div class="border-bottom border-gr2"></div>
        <div class="stack-5">
        <div class="sans-h3 strong d-flex pb-1" v-if="lv4.hasIndexPage && lv4.href">
        <a class="page" :href="lv4.href" :class="{'text-key': menuPath.indexOf(lv4.uid)>=0 && menuPath.indexOf(lv4.uid)==menuPath.length-1}">Übersicht<span class="icon far fa-lock text-right" v-if="lv4.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        <div class="sans-h3 strong" v-for="(lv5, p) in lv4.children">
        <button type="button" class="next d-flex w-100" :class="{'text-key': menuPath.indexOf(lv5.uid)>=0}" @click="setPath(k,l,m,n,o,p)" v-if="validLevel(lv5)">
        <div v-html="lv5.heading"></div>
        <div class="ml-auto"><span class="icon fas fa-angle-right"></span></div>
        </button>
        <a class="next page" :href="lv5.href" :class="{'text-key': menuPath.indexOf(lv5.uid)>=0 && menuPath.indexOf(lv5.uid)==menuPath.length-1}" v-else><span v-html="lv5.heading"></span><span class="icon far fa-lock text-right" v-if="lv5.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        </div>
        </div>
        </div>
        </template>
        </template>
        </template>
        </template>
        <template v-for="(lv0, k) in sitemap" v-if="validLevel(lv0)">
        <template v-for="(lv1, l) in lv0.children" v-if="validLevel(lv1)">
        <template v-for="(lv2, m) in lv1.children" v-if="validLevel(lv2)">
        <template v-for="(lv3, n) in lv2.children" v-if="validLevel(lv3)">
        <template v-for="(lv4, o) in lv3.children" v-if="validLevel(lv4)">
        <div class="level level-5 frame" :id="lv5.headID" v-for="(lv5, p) in lv4.children" v-if="validLevel(lv5)" v-show="hasPath(k,l,m,n,o,p)" :ref="genPath(k,l,m,n,o,p)">
        <div class="stack-4 py-6 px-1">
        <div class="sans-h3 strong">
        <button type="button" class="back d-flex text-gr1" @click="setPath(k,l,m,n,o)">
        <span class="d-inline-block icon fas fa-angle-left mr my-auto"></span>
        <span class="d-inline-block" v-html="lv5.heading"></span>
        </button>
        </div>
        <div class="border-bottom border-gr2"></div>
        <div class="stack-5">
        <div class="sans-h3 strong d-flex pb-1" v-if="lv5.hasIndexPage && lv5.href">
        <a class="page" :href="lv5.href" :class="{'text-key': menuPath.indexOf(lv5.uid)>=0 && menuPath.indexOf(lv5.uid)==menuPath.length-1}">Übersicht<span class="icon far fa-lock text-right" v-if="level5.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        <div class="sans-h3 strong" v-for="(lv6, q) in lv5.children">
        <a class="next page" :href="lv6.href" :class="{'text-key': menuPath.indexOf(lv6.uid)>=0 && menuPath.indexOf(lv6.uid)==menuPath.length-1}"><span v-html="lv6.heading"></span><span class="icon far fa-lock text-right" v-if="lv6.internal" title="Anmeldung erforderlich (TU-ID)"></span></a>
        </div>
        </div>
        </div>
        </div>
        </template>
        </template>
        </template>
        </template>
        </template>
        </div>
        <div class="hanger frame">
        <div class="stack-5 pt-2 pb-6 px-1">
        <div class="sans-body">
        <button type="button" class="link d-block text-gr1" id="phablet-schnell-btn" aria-label="Schnelleinstieg" aria-controls="phablet-fast-menu" :aria-expanded="fastMenuOpen" @click="toggleFastMenu"><span class="icon far fa-external-link-square"></span>Schnelleinstieg
        </button>
        </div>
        {{ if .IsTranslated }}
        <div class="sans-body">
        {{ if eq $.Language.Lang "de"}}
        {{ $eng := index .Translations 0 }}
        <a class="language-selector link text-gr1 d-block" href="{{$eng.Permalink}}"><span class="icon fal fa-globe-europe"></span>English</a>
        {{else}}
        {{ $de := index .Translations 0 }}
        <a class="language-selector link text-gr1 d-block" href="{{$de.Permalink}}"><span class="icon fal fa-globe-europe"></span>Deutsch</a>
        {{end}}
        </div>
        {{ end }}
        <div class="sans-body">
        <!-- noindex -->
        <!-- index -->
        </div>
        <div class="sans-body">
        <a class="text-gr1 link d-block" href="https://www.tu-darmstadt.de/" title="Home">
        <span class="icon far fa-home"></span>Home
        </a>
        </div>
        </div>
        </div>
        </div>
        <div class="frame" id="phablet-fast-menu">
        <div class="stack-6 py-6 px-1">
        <div class="sans-h3 strong d-flex">
        <p>Schnelleinstieg</p>
        <button type="button" class="ml-auto" aria-controls="phablet-fast-menu" :aria-expanded="fastMenuOpen" @click="toggleFastMenu"><span class="icon far fa-times"></span></button>
        </div>
        <div class="stack-1">
        <div class="fast-block" v-for="(group, i) in fastBlocks">
        <phablet-fast-item @toggle="activeFastItem = fastBlocks[i]" :active="activeFastItem == fastBlocks[i]" :theme-key="group.code" :key="group.code">
        <span class="sans-h4" slot="tab">{{ `{{group.heading}}` }}</span>
        <div class="stack-2 px-3 pt-3 pb-6 strong" slot="panel">
        <p v-for="(child, j) in group.children">
        <a class="link" :href="child.href">{{ `{{child.heading}}` }}</a>
        </p>
        </div>
        </phablet-fast-item>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div id="phablet-fast-overlay" :class="{active: fastMenuOpen}" ref="fastOverlay"></div>
        </div>
        <div id="page-header" class="d-print-none"><div class="wrap-xl"><a href="https://www.informatik.tu-darmstadt.de/" title="Zur Startseite der Institution"><div class="fach-label bg-key text-white pt-3 pb-2 d-lg-none d-print-none"><div class="frame inner"><div class="stack-1"><p class="sans-lead">
            {{ .Site.Params.department }}
            </p></div></div></div></a> <div class="hold"><div class="bg-gr2"><figure><div class="position-relative w-100 h-0" style="padding-bottom: 43.85%;"><img alt="" class="lazy position-absolute w-100 h-100 cover" src="{{ .Site.Params.image | absURL}}" style=""> <div class="position-absolute sans-credits credits-overlay">Bild: {{ .Site.Params.imagecredit }}</div></div></figure> <div class="blend-overlay"></div> <div class="info-frame frame-md"><div class="row hold"><div class="page-leader col col-1-1 col-md-8 col-lg-9 align-self-end"><div class="frame px-md-0 hyphens"><h1 class="serif-h1 text-gr5 pt-4 pb-3">{{ .Page.Title }}</h1></div></div></div></div></div> <div class="overlay"></div></div></div></div>
<div id="breadcrumbs" class="clip wrap-xl d-print-none">
    <div class="frame pt-2">
        <nav aria-label="breadcrumb">
            <p class="d-none">Sie befinden sich hier:</p>
            <ol class="breadcrumb">
                {{ range .Site.Menus.breadcrumbs }}
                <li class="breadcrumb-item"><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
                <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            </ol>
        </nav>
    </div>
</div>
        </header>
